!!! 5
block vars
  - var bodyclass = "content-wrap";

html(lang='en')
  head
    block head
      base(href=locals.baseUrl)
      meta(http-equiv="refresh", content="0; url=http://learn.koding.com")
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')

      title
        block title
          = locals.name
      
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Anonymous+Pro:400,700,400italic,700italic|Merriweather:400,700,300')
      link(rel='stylesheet', href='css/main.css')
  
  body(class=bodyclass)
    a(href="https://github.com/koding/docs")
      img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", alt="Fork me on GitHub")

    header.header
      h1 Moves to Learn.Koding.com
      block header
        div.logo
          h1
            a(href=locals.url)= locals.name
          p.description= locals.description
    
    div#sidebar
      block sidebar
        !=contents['sidebar.md'].html
    
    div#content
      block content
        h2 Default Content
    
    footer
      block footer
        section.about
          block about
            !=contents['about.md'].html
      
      section.copy
        p created on&nbsp;
          a(href='https://koding.com') Koding
          | &nbsp;and powered by&nbsp;
          a(href='https://github.com/jnordberg/wintersmith') Wintersmith
    
    script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-6520910-12', 'koding.github.io');
      ga('send', 'pageview');
